@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

// Set your brand colors
$blue: #4C648E;
$green: #79BCB8;
$pink: #FA7C91;
$yellow: #D7BE82;
$light-grey: #C8C8C8;
$dark-grey: #B3B3B3;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $blue;
$dark: $green;
$light: $yellow;
$info: darken($yellow, 30%);
$grey-dark: $pink;
$grey-light: $beige-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//my edits
.form-container{
  margin-top: 50px;
}

.lillefty{
  padding-left: 10px;
}

.lilrighty{
  padding-right: 10px;
}

.title-change{
  color: darken($blue, 10%);
}

.break{
  color: $green;
  background-color: $green;
}

.lilbreak{
  color: $green;
  background-color: $green;
  width:50%;
}

.overview-column {
  border-right: 1px solid $light-grey;
}

.exceptional {
  color: $blue;
  border-bottom: 1px solid $blue;
}

.good {
  color: $green;
  border-bottom: 1px solid $green;
}

.needswork {
  color: $yellow;
  border-bottom: 1px solid $yellow;
}

.skill-columns{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass"
